*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;


}
a{
    text-decoration: none;

}
.navbar{
    display: flex;
}
header{
    width: 100vw;
    height: 100vh;
    background-image: url(/photo-1509721434272-b79147e0e708.jfif);
    background-size: cover;
    background-position: bottom;
    color: white;
display: flex;
align-items: flex-end;
justify-content: center;
}
.header-content{
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}

.header-content h2{
    font-size: 4vmin;
}
.line{
    width: 150px;
    height: 4px;
    background: #cafc03;
    margin: 10px auto;
    border-radius: 5px;
}

.header-content h1{
    font-size:  7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}.ctn{
    padding: 8px 15px;
    background: #ff7200;
    border-radius: 30px;
    color: white;
}